@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --dark-blue: #252B42;
    --sky-blue: #23A6F0;
    --Light-sky-blue: #b2e3ff;
    --Light-orange: #E77C40;
    --red: #E74040;
    --Light-pink: #FFDCD1;
    --Light-gray: #737373;
    --yellow: #F3CD03;
    --green: #2DC071;
    --Light-green: #B9EAAB;
}

body {
  /* background-color: #f5f5f5; */
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}
p {
    line-height: 1.4;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2rem;
}
.text-primary {
    color: var(--sky-blue);
    font-weight: 600;
    font-size: 14px;
}

.text-secondary {
    color: var(--green);
    font-weight: 600;
    font-size: 14px;
}
/* HEADER */
#header {
    background-color: var(--dark-blue);
    color: white;
    padding: 20px 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    /* height: 100px; */
}
.navbar a {
    color: white;
    font-size: 14px;
    margin-right: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.navbar a:hover {
    color: var(--red);
}
.navbar .logo {
    font-size: 24px;
    font-weight: 600;
}
.navbar ul {
    display: flex;
    /* align-items: center; */
}
.navbar ul li  a {
    margin: 0 10px;
    font-weight: 500;
}
.navbar .account .btn-join{
    background-color: var(--sky-blue);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    transform: uppercase;
}
.navbar .account .btn-join svg {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 12px;
}

/* HEADER */
            /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* MAIN */

/* home */
    #home {
        background-color: var(--dark-blue);
        padding: 5rem 0;
    }
    #home .home-header {
        color: white;
        text-align: center;
        margin: auto;
        max-width: 450px;
    }
    #home .home-header span {
        color: var(--red);
        font-weight: 600;
    }
    #home .home-header h1 {
        font-size: 40px;
        margin: 20px 0;
        font-weight: 600;
        color: var(--Light-pink);
    }
    #home .home-header p {
        margin-bottom: 30px;
        color: var(--Light-pink);
        line-height: 1.6;
    }
    #home .home-header .btn {
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid var(--red);
        font-weight: 500;
        text-transform: uppercase;
        margin: 0 5px ;
        transition: all 0.3s ease;
    }
    #home .home-header .btn.btn-red {
        background-color: var(--red);
        color: white;
    }
    #home .home-header .btn.btn-red:hover {
        background-color: transparent;
        color: white;
    }
    #home .home-header .btn.btn-transparent {
        background-color: transparent;
        color: red;
    }
    #home .home-header .btn.btn-transparent:hover {
        background-color: var(--red);
        color: white;
    }

    #home .card-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 50px;
        flex-wrap: wrap;
    }

    #home .card-container .card {
        background-color: white;
        padding: 25px;
        border-radius: 10px;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    #home .card-container .card:hover {
        transform: translateY(-10px);
    }

    #home .card-container .card .icon {
        padding: 12px;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 12px;
    }

    #home .card-container .card .icon svg {
        vertical-align: middle;
        font-size: 25px;
    }

    #home .card-container .card h2 {
        font-size: 18px;
        margin-bottom: 10px;
        color: var(--dark-blue);
    }

    #home .card-container .card .Line {
        display: block;
        width: 50px;
        height: 2px;
        background-color: var(--red);
        margin: 15px 0 ;
        border-radius: 2px;
    }

    #home .card-container .card p {
        color: var(--Light-gray);
        font-size: 14px;
        line-height: 1.6;
    } 

/* home */

/* courses */

#courses {
    padding: 7rem 0;
}
#courses .section-header h2{
 font-size: 35px;
 margin: 15px 0;
 color: var(--dark-blue);
}

#courses .section-header p {
    color: var(--Light-gray);
    line-height: 1.6;
}

/* courses */


/* MAIN */
         /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* FOOTER */



/* FOOTER */

